<% if (theme.links){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">Links</h3>
    <div class="widget">
      <ul>
        <%  var rel;
            theme.links.forEach(function(link){ %>
         <li class="blogroll">
           <% if (link.logo){ %>
             <i class="fa fa-<%- link.logo %>"></i>
           <% } else { %>
             <i class="fa fa-anchor"></i>
           <% }
              rel = (link.webIdentity) ? 'rel="me"' : '';
           %>
           <a href="<%- link.url %>" title="<%- link.name %>" <%- rel %>><%- link.name %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>
